body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 219, 219);
}

header {
    background-color: lightgray;
    border: 0.15rem solid black;
    padding: 2rem;
    margin: 1.2rem;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.521);
}

nav {
    background-color: rgb(151, 151, 151);
    padding: 3px;
    box-shadow: 5px 3px 7px 1px rgba(0, 0, 0, 0.473);
}

nav > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav > a:hover {
    text-decoration: underline;
    color: #0202af;
}

main {
    background-color: white;
    padding: 2rem;
    margin: 1.2rem;
    border-radius: 5px 30px 30px 30px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.445);
}

article {
    background-color: lightgray;
    padding: 1.9rem;
}

article > aside {
    background-color: rgb(156, 156, 156);
    text-align: right;
    padding: 2px;
}

article > aside > p {
    margin: 0px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    margin: 0px;
    border-radius: 4px;
}

footer > p {
    margin: 0px;
}