@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-image: linear-gradient(to bottom #9FCCBE, #84aa9e, #5c756d);
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flex-content {
    justify-content: space-evenly;
    align-items: center;
}

.main-content {
    padding: 2rem;
}

.main-content .logo {
    color: #063838;
    font-size: 2.5rem;
    text-align: center;
}

.main-content p {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1.3rem;
    width: 530px;
    height: 380px;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

form input {
    outline: none;
    padding: 0.8rem 1rem;
    margin-bottom: 0.8rem;
    font-size: 1.1rem;
    border-radius: 0.2rem;
    border-color: #3a3a3a;
}

form input:focus {
    border: 1.8px solid #1877f2;
}

form .login {
    text-decoration: none;
    border: 1px solid#015958;
    color: #fff;
    background-color: #015958;
    padding: 0.8rem 1rem;
    border-radius: 0.4rem;
    font-size: 1.1rem;
}

form .login:hover {
    color: #fff;
    background-color: #043d3b;
    transition: 0.4s;
}

form hr {
    background: #f7f7f7;
    margin: 1rem;
}

form .registration {
    text-decoration: none;
    border: 1px solid#066837;
    color: #fff;
    background-color: #066837;
    padding: 0.8rem 1rem;
    border-radius: 0.4rem;
    font-size: 1.1rem;
}

form .registration:hover {
    color: #fff;
    background-color: #06502b;
    transition: 0.4s;
}

form a {
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    padding-top: 0.8rem;
    color: #1877f2;
}