body {
  background-color: gray;
  margin: 0;
}

.box {
  display: flex;
  flex-direction: row;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calculator {
  width: 240px;
  height: 320px;
  margin: 15px;
  background-color: #f7f7f7;
  border-radius: 5px;
  padding: 15px;
}

.history {
  width: 240px;
  height: 320px;
  margin: 15px;
  background-color: #f7f7f7;
  border-radius: 5px;
  padding: 15px;
}

.history > .title {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  margin-bottom: 10px;
}

#result {
  background-color: white;
  height: 30px;
  margin: 2px;
  font-size: 25px;
  color: black;
  text-align: right;
  padding: 5px;
  border: 1px solid black;
  padding: 0;
  width: 235px;
  margin-bottom: 10px;
  font-size: 24px;
}

.buttons button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  background-color: #e0e0e0;
  margin: 5px;
  font-size: 24px;
  justify-content: center;
  align-items: center;
}

.divGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "line01 line01 line01 line01"
    "line02 line02 line02 line02"
    "line03 line03 line03 line03"
    "line04 line04 line04 line06"
    "line05 line05 line05 line06"
  ;
}

.line01 {
  grid-area: line01;
}

.line02 {
  grid-area: line02;
}

.line03 {
  grid-area: line03;
}

.line04 {
  grid-area: line04;
}

.line05 {
  grid-area: line05;
}

.line06 {
  grid-area: line06;
}

.divGrid>ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
}

#butNum0 {
  width: 100px;
  border-radius: 10px;
}

#butResult {
  height: 92.5%;
  border-radius: 10px;
}

#buttonStyle {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.buttonsYallow {
  background-color: #ff8c00 !important;
  color: #fff !important;
}

.buttonsYallow button:active {
  background-color: #ff8c00 !important;
}

.buttons button:active {
  background-color: #b3b3b3;
}