header {
    background-image: linear-gradient(to bottom right, rgb(121, 255, 121), rgb(255, 255, 0));
    position: fixed;
    top: 0;
    left: 0;
    width: 101%;
    z-index: 999px;
    box-shadow: 0px 1.5px 6px 0px rgba(0, 0, 0, 0.5);
}

header > h1,#subtitulo {
    margin: 0px 2px 5px 0px;
    text-align: center;
}

a {
    padding: 10px;
    text-decoration:none;
}

a:hover {
    color: red;
}