* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family:'HankenGrotesk-VariableFont';
  src:url("./fonts/HankenGrotesk-VariableFont_wght.ttf");
}

@font-face {
  font-family: 'HankenGrotesk-Bold';
  src: url(./fonts/static/HankenGrotesk-Bold.ttf);
}

@font-face {
  font-family: 'HankenGrotesk-ExtraBold';
  src: url(./fonts/static/HankenGrotesk-ExtraBold.ttf);
}

@font-face {
  font-family: 'HankenGrotesk-Medium';
  src: url(./fonts/static/HankenGrotesk-Medium.ttf);
}

.box-main{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  border-radius: 25px;
  box-shadow: 1px 1px 10px 1px rgb(115, 115, 115);
  flex-direction: row;
}

.box {
  width: 400px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box-left {
  background-image: linear-gradient(to bottom, #2a2972, #403ea8);
  color: #fff;
  border-radius: 25px;
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  font-family: HankenGrotesk-VariableFont, 'Courier New', Courier, monospace;
} 

.title-result {
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
}

.circle {
  background-image: linear-gradient(to top, #2a2972, #403ea8);
  width: 200px;
  height: 200px; 
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 25px;
  font-family: HankenGrotesk-Medium;
}

.text-result {
  text-align: center;
  font-family: HankenGrotesk-VariableFont, 'Courier New', Courier, monospace;
}

.text-result>p {
  margin: 1px;
}

.title-box {
  margin-bottom: 10px;
  font-family: HankenGrotesk-Bold;
  display: flex;
  width: 80%;
}

.sumarry-box {
  width: 80%;
}

.summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px 1px 12px 1px;
  font-size: x-small;
  padding: 10px;
  background-color: antiquewhite; /* Caso haja um erro no navegador */
  border-radius: 10px;
  font-family: HankenGrotesk-Bold;
}

.summary-child {
  display: flex;
  align-items: center;
}

.function {
  margin: 1px 1px 1px 5px;
}

.number {
  color: #000;
}

.summary:nth-child(1) {
  background-color: rgba(255, 85, 85, 0.14) !important;
}

.summary:nth-child(2) {
  background-color: rgba(255, 176, 30, 0.14) !important;
}

.summary:nth-child(3) {
  background-color: rgba(0, 187, 143, 0.14) !important;
}

.summary:nth-child(4) {
  background-color: rgba(17, 37, 214, 0.14) !important;
}

.button-summary {
  text-align: center;
  background-color: #000000;
  color: #fff;
  border-radius: 25px;
  border-width: 0;
  box-sizing: border-box;
  height: 44px;
  width: 80%;
  margin-top: 10px;
  font-size: 15px;
  font-family: HankenGrotesk-Bold;
}

.button-summary:hover {
  background-image: linear-gradient(to bottom, #2a2972, #3d3ba0);
}

@media (max-width: 800px) {
  .box-main {
    flex-direction: column;
    border-radius: 0;
  }

  .box {
    width: 600px;
  }

  .box-left {
    border-radius: 0;
  }
}

@media (max-width: 600px) {
  .box-main {
    border-radius: 0;
  }

  .box {
    width: 400px;
  }
}